

<h1>Create </h1>
<h2>Social Hotspot</h2>



<form>
  <div class="row">
    <div class="small-12 columns">
      <label> Car number
        <input type="text" placeholder="insert car number here" />
      </label>

      <label> Seat number
        <input type="text" placeholder="insert seat number here" />
      </label>
    <a href="/screens/status" class="button">Confirm</a>
  </div>

  </div>

</form>
