<h1>Create your</h1>
<h2>Social Lounge</h2>


<!-- <p>Find me in app/views/screens/create.html.erb</p> -->

<form>
  <div class="row">
    <div class="small-12 columns">
      <label> Car number
        <input type="text" placeholder="insert car number here" />
      </label>

      <label> Seat number
        <input type="text" placeholder="insert seat number here" />
      </label>
    <a href="/status" class="button">Confirm</a>
  </div>

  </div>

</form>
