
<h1>Social hotspot is active</h1>
<p>at Car # <%#=car_number%> <br>
  and Seat #<%#=seat_number%> </p>

<p>Is the hotspot inactive? Click here to reset<br>
  <a href="/screens/create" class="button">Reset</a> </p>
